<div id="<%= dom_id nft %>">
  <p>
    <strong>Wallet address:</strong>
    <%= nft.wallet_address %>
  </p>

  <p>
    <strong>Link to nft image:</strong>
    <%= nft.link_to_nft_image %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= nft.customer_id %>
  </p>

</div>
