<p style="color: green"><%= notice %></p>

<h1>Nfts</h1>

<div id="nfts">
  <% @nfts.each do |nft| %>
    <%= render nft %>
    <p>
      <%= link_to "Show this nft", nft %>
    </p>
  <% end %>
</div>

<%= link_to "New nft", new_nft_path %>
